<!doctype html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <div class="d-flex">
            <%- include('../partials/sidebar.ejs') %>
            <main class="w-100 h-100">
                <%- include('../partials/header.ejs') %>
                <section class="container">
                    <h1>Categories</h1>
                    <p>A showcase of the different categories of Orchids in the world today.</p>
                </section>
            </main>
        </div>
    </body>
</html>
