<aside class="p-4 d-flex flex-column position-sticky left-0 text-bg-primary vh-100" style="width: 300px;">
    <h1 class="fs-3">Orchids Explorer</h1>
    <hr/>
    <nav class="flex-grow-1">
        <ul class="d-flex flex-column flex-grow-1" data-bs-theme="light">
            <li class="">
                <a class="" href="/">Dashboard</a>
            </li>
            <li class="">
                <a class="nav-link" href="/">Orchids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
        </ul>
    </nav>
    <div>
        abc
    </div>
</aside>