<aside
    class="relative hidden h-screen bg-purple-700 shadow-xl sm:block group"
    style="width: 20%"
    data-collapsed="false"
    id="sidebar"
>
    <div class="p-6">
        <div class="select-none text-3xl font-semibold uppercase text-white">
            Orchids Overflow
        </div>
    </div>
    <nav class="pt-3 text-base font-semibold text-white">
        <a
            id="/orchids"
            href="/orchids"
            class="flex items-center py-4 pl-6 text-white opacity-75 transition-all hover:bg-purple-900 hover:opacity-100 bg-transparent"
            style="<%= currentSite.includes('/orchids') ? 'background-color: rgb(80, 2, 132);' : '' %>"
        >
            <i class="ph-bold ph-potted-plant mr-3"></i>
            Orchids
        </a>
        <a
            id="/categories"
            href="/categories"
            class="flex items-center py-4 pl-6 text-white opacity-75 transition-all hover:bg-purple-900 hover:opacity-100 bg-transparent"
            style="<%= currentSite.includes('/categories') ? 'background-color: rgb(80, 2, 132);' : '' %>"
        >
            <i class="ph-bold ph-list-dashes mr-3"></i>
            Categories
        </a>
        <% if (user && user.isAdmin) { %>
            <a
            id="/accounts"
            href="/accounts"
            class="flex items-center py-4 pl-6 text-white opacity-75 transition-all hover:bg-purple-900 hover:opacity-100 bg-transparent"
            style="<%= currentSite.includes('/accounts') ? 'background-color: rgb(80, 2, 132);' : '' %>"
        >
            <i class="ph-bold ph-list-dashes mr-3"></i>
            Accounts
        </a>
        <% } %>
    </nav>
    <% if (user) { %>
    <form action="/api/v1/users/logout" method="post">
        <button
            type="submit"
            id="logout-btn"
            class="absolute bottom-0 flex w-full items-center justify-center bg-purple-800 py-4 text-white hover:bg-purple-900"
        >
            Logout
        </button>
    </form>
    <% } else { %>
    <button
        id="login-btn"
        class="absolute bottom-0 flex w-full items-center justify-center bg-purple-800 py-4 text-white hover:bg-purple-900"
        onclick="window.location.href = '/login'"
    >
        Login
    </button>
    <% } %>
</aside>
